@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@font-face {
  font-family: 'Kode Mono';
  font-display: auto;
  src: url('../fonts/KodeMono/KodeMono-VariableFont_wght.ttf') format('truetype');
}

.kode {
  font-family: 'Kode Mono';
}

#app {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

#app > :nth-child(2) {
  overflow: auto;
}

.payload {
  outline: 0.1em dashed rgba(255, 0, 0, 0.5);
}

label {
  user-select: none;
}